@model EAD_CA_PROJECT_INVEST.Model.Stock

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Stock</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockTicker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockTicker)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalShares)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalShares)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExchangeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExchangeName)
        </dd>


    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StockID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
