@model IEnumerable<EAD_CA_PROJECT_INVEST.Model.Stock>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StockName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockTicker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalShares)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExchangeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StockName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockTicker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalShares)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExchangeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.OrderID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StockID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StockID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StockID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
